<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |massageClass, massage| %>
     <div class="alert alert-<%= massageClass %>"><%= massage %></div>
  <% end %>
  <% if admin_signed_in?  %>
    <%= link_to 'Sign out', destroy_admin_session_path, method:"delete" %>
<% end %>

<%= yield %>

</body>
</html>
